<!DOCTYPE html>
<html>
<head>
    <title>Email Form</title>
</head>
<body>
    <h1>Send an Email</h1>
    <form id="emailForm" action="/send_email" method="POST">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required><br><br>
        <label for="message">Message:</label><br>
        <textarea id="message"   
 name="message" rows="4" cols="50" required></textarea><br><br>
        <button type="submit">Send Email</button>
    </form>   

    <div id="result"></div>




    <script src="../src/server.js"></script>
</body>
</html>